{% extends "Constructora/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>Acerca de mi</h1>
<p>Somos una empresa familiar con años de trayectoria. Desde 2018 brindamos nuestros servicios a clientes y estudios de arquitectura, ejecutando proyectos de remodelación, construcción llave en mano con o sin terreno y obras comerciales.</p>
<h3>Nos dedicamos a brindar servicios complementarios a la actividad inmobiliaria con un fuerte foco en el cliente</h3>
{% endblock %}