{% extends "Constructora/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>Casa Detalle</h1>
    <p>Numero del inmueble: <i>{{ casa.numero }}</i></p>
    <p>Categoria <i>{{ casa.categoria }}</i></p>
    <p>Domicilio <i>{{ casa.domicilio }}</i></p>
    <p>Tipo <i>{{ casa.tipo }}</i></p>
    <p>Fecha disponible <i>{{ casa.fecha_disponible }}</i></p>  
    <p>Detalle <i>{{ casa.detalle }}</i></p>

    <p>
        <a href="{% url 'List1' %}">Regresar</a>
    </p>
{% endblock %}