{% extends "Constructora/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>Lista de clientes</h1>

    <ul>
        {% for cliente in object_list %}
        <li>
            <p>Numero: {{ cliente.telefono }}</p>
            <p>
                <a href="{% url 'Detail3' cliente.telefono %}">Ver</a>
                <a href="{% url 'Edit3' cliente.telefono %}">Editar</a>
                <a href="{% url 'Delete3' cliente.telefono %}">Borrar</a>
            </p>

        </li>
        {% endfor %}  
                   
    </ul>
    <a href="{% url 'Formulario de Clientes' %}">Nuevo</a>
{% endblock %}