
{% extends "Constructora/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>Fichas Técnicas</h1>
<p>Aquí tenemos la información de las obras</p>
{% if miFormulario.errors %}
        <p style="color: red;"> Están mal los datos, revisar</p>
        {% endif %}
        
        <form action="" method="POST">
            {% csrf_token %}
            <table>{{ miFormulario.as_table }}

            </table>
            <input type="submit" value="Enviar" />
        </form>
{% endblock %}